<mat-card class="product-card">
  <img [src]="product.image" alt="{{ product.name }}" />
  <mat-card-title>{{ product.name | capitalize }}</mat-card-title>
  <mat-card-subtitle>{{ product.price | currency:'HUF' }}</mat-card-subtitle>
  <mat-card-content>
    <p>{{ product.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addToCart()">Kosárba</button>
    <button mat-raised-button color="accent" [routerLink]="['/product-edit', product.id]">Szerkesztés</button>
    <button mat-raised-button color="warn" (click)="onDelete()">Törlés</button>
  </mat-card-actions>
</mat-card>

